@font-face {
    font-family: "Papyrus";
    src: url('./fonts/Papyrus.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}

.contenedor-nav {
    background-color: #203855;
    color: #fff;
}

.menu {
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 50px;
}

.logo a {
    margin: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.lista {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 100px;
}

.lista li {
    margin-right: 0.5rem;
    margin-left: 25px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.botonDeRetorno{
    width: 150px;
    height: 50px;
    border: 1px solid #333;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    color: #000;
    font-family: sans-serif;
}
.botonDeRetorno::before,
.botonDeRetorno::after {
  position: absolute;
  background: #e8e8e8;
  z-index: -1;
  transition: 1s;
  content: "";
}

.botonDeRetorno::before {
  height: 50px;
  width: 130px;
}

.botonDeRetorno::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.botonDeRetorno:hover::before {
  width: 0px;
  background: #e8e8e8;
}

.botonDeRetorno:hover::after {
  height: 0px;
  background: #fff;
}

.botonDeRetorno:hover {
  background: #fff;
}


.detAnim{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.detAnim div{
    /* width: 45%; */
    background-color: aqua;
    display: flex;
    flex-direction: column;
    
}

.nameImg {
    padding: 1rem;
    width: 50%;
}

.nameImg img{
    background-color: red;
    height: 400px;
    width: 90%;
    margin-left: 5%;
}

.nameDatos{
    width: 40%;
    text-align: left;
    transition: 1.5s;
}

.aniDescrip{
    width: 90%;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
    text-align: center;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vh;
}

footer div {
    margin-left: 2rem;
}

footer div b {
    font-family: "Papyrus", sans-serif;
}

.social-icon {
    border-radius: 5px;
    font-size: 24px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

.fab:hover {
    transform: scale(1.3);
}

.fa-instagram:hover {
    color: #c13584;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-whatsapp:hover {
    color: #25d366;
}

@media (max-width: 768px) {
    .inicio {
        display: flex;
        flex-direction: column;
    }
    .izquierda {
        width: 100%;
    }
    .derecha {
        width: 100%;
    }
    .detAnim{
        flex-direction: column;
    }
    .detAnim div{
        width: 95%;
    }
    footer{
        padding-bottom: 1rem;
      }
}
