@font-face {
    font-family: "Papyrus";
    src: url('../fonts/Papyrus.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    scroll-behavior: smooth;
}

.contenedor-nav {
    background-color: #203855;
    color: #fff;
}

.menu {
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 50px;
}

.logo a {
    margin: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.lista {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 100px;
}

.lista li {
    margin-right: 0.5rem;
    margin-left: 25px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.imagen {
    width: 100%;
    min-height: 70vh;
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url(../images/hamster-portada.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
    text-align: center;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vh;
}

footer div {
    margin-left: 2rem;
}

footer div b {
    font-family: "Papyrus", sans-serif;
}

.social-icon {
    border-radius: 5px;
    font-size: 24px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

.fab:hover {
    transform: scale(1.3);
}

.fa-instagram:hover {
    color: #c13584;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-whatsapp:hover {
    color: #25d366;
}

@media (max-width: 768px) {
    .inicio {
        display: flex;
        flex-direction: column;
    }
    .izquierda {
        width: 100%;
    }
    .derecha {
        width: 100%;
    }
}