@font-face {
    font-family: "Papyrus";
    src: url('./fonts/Papyrus.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}

/* --------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/
.navbar-container {
    width: 100%;
    background-color: #1e699b;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-container div {
    width: 50%;
}

.navbar-container .logo {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    padding: 10px;
    padding-left: 15%;
}

.navbar-container .navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 30%;
}

.navbar-container .navbar li {
    margin-right: 0.5rem;
    margin-left: 25px;
}

.navbar-container .navbar li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: all ease-in-out 250ms;
}

.navbar-container .navbar li a::after {
    content: '';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color:#ffa600;
    bottom: -0.5em;
    transition: all ease-in-out 250ms;
}

.navbar-container .navbar li a:hover::after {
    width: 100%;
}

.navbar-container .navbar li a:hover {
    color: #ffa600;
}

.partnerInf {
    width: 100%;
    height: 3vh;
    background: linear-gradient(#f3f3f3, #1A1A1A);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    text-align: center;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    position: fixed;
}

footer div {
    margin-left: 2rem;
}

footer div b {
    font-family: "Papyrus", sans-serif;
}

.social-icon {
    border-radius: 5px;
    font-size: 24px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

.fab:hover {
    transform: scale(1.3);
}

.fa-instagram:hover {
    color: #c13584;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-whatsapp:hover {
    color: #25d366;
}